/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 ~~~~~~~~~~~~~~~~   This stylesheet is used for both index.php and blog.php.  ~~~~~~~~~~~~~
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////////////
 ////////////////////////////  main body  ///////////////////////////////////
 /////////////////////////////////////////////////////////////////////////////////*/
body{
background-color: #e6e6e6;

}


/*//////////////////////////////////////////////////////////////////////////////////
 /////////////////////////////  login stuff   //////////////////////////////////
 /////////////////////////////////////////////////////////////////////////////////*/

input[type="submit"] {
    background-color: #626262;
    width: 65px;
    height: 30px; 
    border: 0;
}

.loginAppear{
    position: fixed;
    z-index: 1031;
    top: 0px;
    right: 0px;
    height: 30px;
    width: 30px;
    background-color: #1f1f1f;
}
.login{
    box-shadow: 0px 1px 20px #000000;
    z-index: 999;
    position: fixed;
    top: 300px;
    left: 600px;
    background-color: #1f1f1f;
    height: 240px;
    width: 230px;
    border: 0px;
    margin: 0px;
    padding: 30px;
}

/*////////////////////////////////////////////////////////////////////////////////
 //////////////////  blog.php - content section  //////////////////
 ///////////////////////////////////////////////////////////////////////////////*/
.content{
border: 0px;
margin-left: 0px;
margin-top: 10px;
margin-right: 0px;
margin-bottom: 5px;
padding: 0px;
width: 100%;
top: 0px;
background-color: white;
}


.mainArticleSpace {
margin-left: 0px;
padding-left: 70px;
padding-right: 45px;
padding-top: 25px;
padding-bottom: 45px;
width: 60%;
background-color: #ffffff;
float: left;
font-family: 'Droid Serif', serif;
top: 0px;
}
.mainArticleSpace>h1{
    font-weight: bold;
}
.blogSideMenu{
padding-left: 25px;
padding-right: 25px;
padding-bottom: 5px;
padding-top: 10px;
margin-right: 231px;
float: left;
background-color: #d7ebff;
max-width: 210px;
}
.articles{
    height: 150px;
    width: 150px;
    margin: 0px;
    padding: 0px;
}



/*////////////////////////////////////////////////////////////////////////////
 //////////////    navbar stuff  && logo stuff   ////////////////
 ///////////////////////////////////////////////////////////////////////////*/
.navbar-brand{
float: left;
margin-right: 0px;
}

#haleycontainer {
height: 50px;
top: 0px;
position: absolute;
}

.logo {
top:0px;
padding: 0px;
}

.navbar-fixed-top{
top:0px;
height: 50px;
width: 100%;
margin-bottom: 0px;
box-shadow: 0px 1px 20px #000000;
background-color: #1f1f1f;
}

.nav {
top: 0px;
height: 50px;
}

.container {
margin-left: 231px;
}

.navbar-nav {
margin-left: 300px;
top: 0px;
height: 50px;
background-color: #1f1f1f;
}

.navbar-collapse {
height: 50px;
top:0px;
}

ul {
height: 50px;
top: 0px;
}

.collapse {
height: 50px;
top: 0px;
}




/*/////////////////////////////////////////////////////////////////////////////////////
 //////////////////////////////   text stuff   ////////////////////////////////////
 //////////////////////////////////////////////////////////////////////////////////*/
 
a:link {
color: #999999;
}

a:visited {
color: #999999;
}

a:hover{
color:#FF9933;
}

a:active {
color: #808080;
}

h1{
    font-family: 'Droid Serif', serif;
}

h3{
     font-family: 'Droid Serif', serif;
}

h4{
    font-family: 'Droid Serif', serif;
    margin-left: 231px;
    color: #ffffff;
}

h5{
     font-family: 'Droid Serif', serif;
}

h6{
    font-family: 'Droid Serif', serif;
}

p{
     font-family: 'Droid Serif', serif;
     font-size: 1.2em;
}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
 /////////////////////////////////////////     footer     ////////////////////////////////////////////////
 //////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.copyright {
clear: both;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
margin-bottom: 30px;
padding-top: 30px;
border: 0px;
padding: 0px;
text-decoration: none;
text-align: center;
font-size: 0.6em;
}

.socialFooterLinks{
  clear: both;
   font-family: 'Droid Serif', serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 0px;
  padding-top: 30px;
  border: 0px;
  padding: 0px;
  text-decoration: none;
  text-align: center;
}
.socialFooterLinks > li {
    margin: 20px;
    padding: 0px;
    border: 0px;
}
