body{
background-color: #e6e6e6;
}
.content{
border: 0px;
margin-left: 0px;
margin-top: 50px;
margin-right: 0px;
margin-bottom: 5px;
padding: 0px;
width: 100%;
position: center;
top: 0px;
background-color: white;
}
.col-md-6 {
background-color: #ffffff;
top: 0px;
}
.col-md-10 {
background-color: #ffffff;
top: 0px;
}
.photoPagePics {
margin-top: 10px;
margin-left: 10px;
margin-bottom: 10px;
margin-right: 10px;
width: 144px;
border:0px;
padding: 0px;

}
#terd {
margin: 15px;
}
.rowOnePhotos {
display: inline;
height:144px;
width: 100%;
border: 0px;
padding-top: 0px;
padding-bottom: 5px;
margin: 0px;
}
#imagelightbox {
position: fixed;
z-index: 9999;
box-shadow: 0px 10px 60px #000000;
-ms-touch-action: none;
touch-action: none;
}
.rowOnePhotos > img{
margin: 16px;
}
.rowTwoPhotos > img{
margin: 16px;
}
.rowThreePhotos > img{
margin: 16px;
}
.rowTwoPhotos {
display: inline;
height:144px;
width: 100%;
border: 0px;
padding-top: 5px;
padding-bottom: 5px;
margin: 0px;
}
.rowThreePhotos {
display: inline;
height:144px;
width: 100%;
border: 0px;
padding-top: 5px;
padding-bottom: 5px;
margin: 0px;
}
.col-md-3 {
background-color: #ffffff;
top: 0px;
}
.navbar-brand{
float: left;
margin-right: 0px;
}
#haleycontainer {
height: 50px;
top: 0px;
position: absolute;
}
.logo {
top:0px;
padding: 0px;
}

.navbar-fixed-top{
top:0px;
height: 50px;
width: 100%;
margin-bottom: 0px;
box-shadow: 0px 1px 20px #888888;
}
.nav {
position: inline;
top: 0px;
height: 50px;
}
.navbar-nav {
padding: auto;
position: center;
float: center;
margin-left: 300px;
top: 0px;
height: 50px;
}
.navbar-collapse {
height: 50px;
top:0px;
}
ul {
height: 50px;
top: 0px;
}

.collapse {
height: 50px;
top: 0px;
}
a:link {
text-decoration: none;
color: #000000;
}
a:visited {
text-decoration: none;
color: #000000;
}
a:hover{
color: #808080;
}
a: active {
text-decoration: none;
color: #808080;
}

.copyright {
clear: both;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
margin-bottom: 30px;
padding-top: 30px;
border: 0px;
padding: 0px;
position: center;
text-decoration: none;
width: 50%;
}